Django>=1.8,<1.9
Pillow
pytz
psycopg2
cssmin

django-flat-theme
django-sitetree
django-compressor
django-debug-toolbar
django-ckeditor
django-model-utils
django-environ
django-bootstrap3
django-recaptcha
